h3{
    font-style:italic;
    color:chocolate;
    margin:10px 700px 0px 15px;

    
    
}
*{
    background-image: url(pexels-veeterzy-303383.jpg);
    margin-left: 10px;
    
    
}
.header{
    display: inline-flex;
    
}

li{
    color:aliceblue;
    list-style: none;
    float: right;
    margin: 0px 30px 0px 0px;
    cursor: pointer;
    background: none;
    
}
li a:hover{
    color: chocolate;
}
h1{
    text-transform: capitalize;
    color: aliceblue;

}
p{
    color: aliceblue;
}
button{
    border-radius: 30px;
    border: 2px solid white;
    color: aliceblue;
    width: 100px;

}
.container{
    display: flex;

}
.content{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 300px;
    

    display: block;
    background: none;

}
.log{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 200px;
    display: block;
    background: none;
    border: 5px solid chocolate;
    padding: 20px;

}
.submit{
    text-align: center;
}
b{
    color: chocolate;
}